<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%= render 'layouts/nav' %>
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>實驗控制</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>編輯實驗</h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
<!-- 來源選擇 -->
<!-- 顯示程式 -->
<%= @github_code %>
<!-- 修改程式 -->
                </div>
              </div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>設定執行實驗</h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- /page content -->

      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          IIS leo424y
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
